


.fm-pw-validator
{
    margin-top: 10px;
    margin-bottom: 10px;
}


.fm-pw-validator p
{
    display: flex;
    justify-content: left;
    margin: 3px 0px;
}

.fm-pw-validator-text
{
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.fm-pw-validator-icon
{
    display: flex;
    align-items: center;
}

.red
{
    color: var(--danger);
}

.green
{
    color: var(--green);
}