




.fm-lobby-card
{
    width: 60%;
    margin: 0 auto;
    margin-top: 2.5%;
    padding: 40px 80px !important;
    max-height: 80vh;
    
}

.fm-lobby-options
{
    margin-bottom: 40px;
}

.fm-lobby-title
{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200 !important;

}
.fm-lobby-title>h1
{
    
    font-weight: 400 !important;
    font-size: 1.25em;

}


.fm-lobby-table-wrapper
{
    max-height: 80vh;
    overflow-x: auto;
}

