:root {
    --primary: #C6A009;
    --secondary: #8B0F29;
    --neutral: #51656F;
    --yellow: #FFCC00;
    --red: #FE0031;
    --green: #86EA57;
    --background: #00060C;
    --input-border: #8BACBC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #C6A009;
    --secondary: #8B0F29;
    --neutral: #51656F;
    --yellow: #FFCC00;
    --red: #FE0031;
    --green: #6EC745;
    --background: #00060C;
    --input-border: #8BACBC;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: url("/img/mainbg.svg");
  background-position: top center;
  background-position: fixed;                  
  background-repeat: no-repeat;
  
 
  
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
