
.auth
{
    width: 100%;
    margin-top: 15%;
}


.auth-card
{
    width: 600px;
    margin: 0 auto;
}

.auth-logo
{
    height: 150px;
    width: auto;
    opacity: 0.75;
}

.auth-text
{
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
}

.auth-text-container
{
    margin-top: 20px;
}

.auth-children
{
    padding-left: 40px;
    padding-right: 40px;
}