
.fm-link
{
    font-family: 'Montserrat', sans-serif;
    color: #8BACBC;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    transition: all 0.3s;
}



.fm-link:hover
{
    
    text-decoration: none;
    filter: brightness(1.1);
}
