

.fm-button
{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: var(--neutral);
    cursor: pointer;
    transition: all 0.3s;
    border: 0px solid transparent;
    border-bottom: 3px solid transparent;
    
}




.fm-button-filled-hover:hover
{
  
    -webkit-box-shadow: 8px 10px 10px -9px rgba(0,0,0,0.48);
    -moz-box-shadow: 8px 10px 10px -9px rgba(0,0,0,0.48);
    box-shadow: 8px 10px 10px -9px rgba(0,0,0,0.48);
}

.fm-button-outlined-hover:hover
{
    color: #fff;
    border: 1px solid #fff;
}

.fm-button-text-hover:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

.fm-button-filled-primary
{
    background-color: var(--primary);
}

.fm-button-filled-primary:hover
{
    border-bottom: 3px solid #866300;   
}


.fm-button-filled-secondary
{
    background-color: var(--secondary);  

}

.fm-button-filled-secondary:hover
{
    border-bottom: 3px solid #420003;   
}

.fm-button-filled-danger
{
    background-color: var(--red); 
}

.fm-button-filled-danger:hover
{
    border-bottom: 3px solid #940007;  
}

.fm-button-filled-success
{
    background-color: var(--green); 
}

.fm-button-filled-success:hover
{
    border-bottom: 3px solid #0a4f00;
}



.fm-button-outlined-primary
{
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.fm-button-outlined-secondary
{
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}



.fm-button-outlined-danger
{
    background-color: transparent;
    border: 1px solid var(--red);
    color: var(--red);
}

.fm-button-outlined-success
{
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
}


.fm-button-text-primary
{
    background-color: transparent;
    color: var(--primary);
}

.fm-button-text-secondary
{
    background-color: transparent;
    color: var(--secondary);
}

.fm-button-text-danger
{
    background-color: transparent;
    color: var(--red);
}

.fm-button-text-success
{
    background-color: transparent;
    color: var(--green);
}

